@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Rethink Sans";
}

:root {
    --Dark: #050E14;
    --White: #FFFFFF;
    --Gray: #8F9395;
    --Gray-gray--3: #F5F5F6;
    --Gray-gray--5: #DADBDC;
    --Gray-gray--6: #C1C3C4;
    --Gray-gray--7: #8F9395;
    --Gray-gray--8: #5D6266;
    --Gray-gray--12: #192127;
    --Gray-gray--9: #494F53;
    --Gray-gray--10: #2B3237;
}


.main_heading {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 4px -1px 42px rgba(0, 0, 0, 0.25);
    font-family: "Rethink Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
}

h1 {
    color: var(--White, #FFF);

    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 4px -1px 42px rgba(0, 0, 0, 0.25);
    font-family: "Rethink Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    color: var(--Dark, #050E14);

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3 {
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

h4 {
    color: var(--Dark, #050E14);

    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--Gray-gray--7, #8F9395);
    font-family: "Rethink Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p.normal_text {
    color: var(--Gray-gray--3, #F5F5F6);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;

}

p {
    margin: 0px;
}

p.medium_text {
    color: #161925;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p.advance_text {
    color: var(--Gray-gray--10, #2B3237);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* nav-bar css */
/* Basic navbar styling */
.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.nav-bar {
    background: transparent;
    transition: background 0.3s ease;
    /* Smooth transition */
}

.nav-bar.scrolled {
    background: rgba(255, 255, 255, 0.62);
    backdrop-filter: blur(17px);
}

.nav-bar.contact_nav {
    background: rgba(255, 255, 255, 0.62);
    backdrop-filter: blur(17px);
}

.nav-bar .navs {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}



.nav-bar.scrolled .navs {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.nav-bar .navs .logo {
    width: 120px;
    min-width: fit-content;
    text-align: center;
}

.nav-bar .navs .logo img {
    width: auto;
    height: 80px;
}

.nav-bar.scrolled .navs .logo img {
    width: auto;
    height: 60px;
}

.nav_btns {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-bar .nav_btns .nav-link,
.nav-bar .language_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    cursor: pointer;

}

.language {
    position: relative;
    display: inline-block;
    min-width: 120px;
}

.language-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.language-options {
    position: absolute;
    top: 168%;
    padding: 12px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    min-width: 120px;
    z-index: 100;
}

.rotate {
    rotate: 180deg;
}

.language-options.show {
    display: flex;
}

.language-options a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
}

.language-options a:hover {
    background: #f0f0f0;
    color: black;
}

.nav-bar .nav_btns p,
.nav-bar .language_btn p {
    margin: 0;
    font-size: 16px;
    font-family: "Rethink Sans";
}

.nav-bar .contact_btn p {
    color: var(--White, #FFF);
}

.nav-bar.scrolled .nav_btns div,
.nav-bar.scrolled .nav_btns .nav-link p,
.nav-bar.scrolled .contact_btn p,
.nav-bar.scrolled .language_btn p {
    color: var(--Dark, #050E14) !important;
}

.nav-bar.scrolled .nav_btns .nav-link img,
.nav-bar.scrolled .language_btn img {
    filter: invert(1);
}

.nav-bar.contact_nav .nav_btns div,
.nav-bar.contact_nav .nav_btns .nav-link p,
.nav-bar.contact_nav .contact_btn p,
.nav-bar.contact_nav .language_btn p {
    color: var(--Dark, #050E14) !important;
}

.nav-bar.contact_nav .nav_btns .nav-link img,
.nav-bar.contact_nav .language_btn img {
    filter: invert(1);

}

.nav-link.active {
    font-weight: 700;
}

/* Wide Full-Width Dropdown */
.nav-bar .dropdown {
    position: static;

}

.nav-bar .dropdown-menu.wide-dropdown {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    background: white;
    padding: 16px 16px 24px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* .dropdown:hover .dropdown-menu.wide-dropdown {
    display: flex;
} */
.nav-bar .dropdown-menu.active {
    display: flex;
    border: none;
    box-shadow: none;
}

/* Inside Dropdown */
.nav-bar .dropdown-content {
    display: flex;
    height: 230px;
    gap: 20px;
    justify-content: center;
}

.nav-bar .dropdown-item {
    text-align: center;
    /* width: 400px;
    height: 280px; */
    width: 368px;
    height: 230px;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: radial-gradient(38.19% 57.61% at 50% 42.39%, #D8D8D8 0%, #F5F5F5 100%);
}

.nav-bar .dropdown-item .dropdown-img {
    width: 135px;
    height: 135px;
    /* margin-bottom: 40px; */
    transition: transform 0.3s ease;
    overflow: visible;
}

.nav-bar .dropdown-item .dropdown-img.battery5 {
    width: 170px;
}

.nav-bar.contact_nav .dropdown-item .dropdown-img.battery5 {
    width: 170px;
}

.nav-bar .dropdown-item .dropdown-img img {
    width: 100%;
    height: 100%;

    object-fit: cover
}

.nav-bar .dropdown-item:hover img {
    transform: scale(1.08);
}

.nav-bar .dropdown-item p {
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-gray--10, #2B3237);
}

.nav-bar .dropdown-item h5 {
    color: var(--Gray-gray--10, #2B3237);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.nav-bar .menu-items a img {
    width: 100px;
}

/* Hamburger Menu Icon */
.nav-bar .menu-icon {
    display: none;
    cursor: pointer;
}

.nav-bar.contact_nav .menu-icon img {
    filter: invert(1) !important;
}

.nav-bar .menu-icon img {
    width: 30px;
    filter: invert(1)
}

/* Mobile Menu Sidebar */
.nav-bar .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.2s ease-in-out;
    z-index: 100;
    overflow-y: auto;
}

.nav-bar .mobile-menu.active {
    right: 0;
}

.nav-bar .close-icon {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-bar .close-icon img {
    width: 30px;
}

.nav-bar .close-icon .logo img {
    width: 100px;
}

/* Collapsible Sections */
.nav-bar .collapsible a {
    color: #000;
}

.nav-bar .collapsible {
    padding: 15px 10px 0px;
}

.nav-bar .mobile_language_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    cursor: pointer;
}

.nav-bar .mobile_language_btn p {
    margin-bottom: 0px;
}

.nav-bar .mobile_language_btn img {
    filter: invert(1);
    width: 30px;
}

.nav-bar .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav-bar .collapsible-header>img {
    transition: transform 0.3s ease;
}

.nav-bar .collapsible.open .collapsible-header>img {
    transform: rotate(180deg);
}

.nav-bar .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
}

.nav-bar .collapsible-content .item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-bar .collapsible-content .img_box {
    width: 150px;
    height: 100px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

.nav-bar .collapsible-content img {
    width: 80%;
    /* or any custom size */
    height: 80%;
    object-fit: contain;
}

.nav-bar .collapsible.open .collapsible-content {
    max-height: 400px;
    /* enough space for items */
    padding: 15px 0;
}

/* Responsive */
@media screen and (max-width: 991px) {

    .nav_btns,
    .language {
        display: none;
    }

    .nav-bar .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-bar .menu-icon img {
        width: 30px;
    }
}


/* nav-bar css end  */
.whatsapp_icon {
    width: 112px;
    height: 112px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}

.whatsapp_icon img {
    width: 112px;
    height: 112px;
    flex-shrink: 0;
}

/* home page css start */
.container {
    max-width: 100%;
    margin: 0 auto;
}

.hero_banner {
    position: relative;
    background: url("../imgs/herobanner.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero_content {
    width: 100%;
    height: 900px;
    max-height: 100vh;
    padding-top: 150px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}


/* Dark blur on TOP */
.hero_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    /* adjust how much top fade you want */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    pointer-events: none;
}

/* Dark blur on BOTTOM */
.hero_banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    /* adjust how much bottom fade you want */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    pointer-events: none;
}



.hero_content .upper_section {
    text-align: center;
}

.hero_content .upper_section h3 {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 56px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.hero_content .upper_section p {
    color: var(--White, #FFF);
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.hero_content button {
    width: 250px;
    height: auto;
    padding: 10px 24px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid var(--White, #FFF);
    background: white;
    color: var(--Dark, #050E14);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn_white {
    background: white;
    color: var(--Dark, #050E14);
}

.btn_white a {
    background: white;
    color: var(--Dark, #050E14);
}

.btn_plain {
    background-color: transparent !important;
    color: var(--White, #FFF);
}

.btn_plain a {
    background-color: transparent !important;
    color: var(--White, #FFF);
}

/* hero section css end */

/* details section css start */
.mobile_details_section {
    display: none;
}

.details_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 70px;
}

.details_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.details_card p {
    font-size: 20px;
    line-height: 20px;
    color: var(--Dark, #050E14);
}

.details_card img {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
}

/* Default (Desktop) */
.mid_line {
    width: 1px;
    padding: 0;
    height: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

/* details section css end */
/* Batteries section css start */

.product-section {
    padding: 96px 0;
    text-align: center;
    background: radial-gradient(50% 64.4% at 50% 50%, #D3D3D3 0%, #F5F5F5 100%);
}

.product-section .heading {
    color: var(--Dark, #050E14);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tabs {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 10px;
}

.tabs .mid_line {
    height: 48px;
}

.tabs button {
    background: none;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    color: var(--Gray-gray--8, #5D6266);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
}

.tabs .tab-btn.active {
    color: var(--Dark, #050E14);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-details .products_categories {
    padding-left: 12px;
}

.products_categories p {
    color: var(--Gray-gray--7, #8F9395);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products_categories .active {
    color: var(--Dark, #050E14);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.products_categories .active::before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    width: 2px;
    height: 100%;
    background: var(--Dark, #050E14);
    /* margin-bottom: 8px;
    border-radius: 2px; */
}

.product-slider .item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    overflow: visible;
}

#batteries,
#inverters {
    width: 100%;
    margin: auto;
    height: 100%;
}

.tab-content {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(20px); */
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.tab-content.active {
    opacity: 1;
    visibility: visible;
    /* transform: translateY(0); */
    position: relative;
}

.tab-content.hidden {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(20px); */
}

.tabs-wrapper {
    position: relative;
    min-height: 600px;
    margin-top: 0px;
    /* adjust as needed */
    transition: height 0.5s ease-in-out;
}


.product-slider.owl-carousel {
    height: fit-content;

}

#batteries .product-slider .owl-item,
#inverters .product-slider .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#batteries .product-slider .item,
#inverters .product-slider .item {
    width: 27vw;
    height: 100%;
    object-fit: contain;
}

#batteries .product-slider .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* fits the entire image inside the box */
    object-position: center;
    /* center the image */
}

#inverters .product-slider .item img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    /* fits the entire image inside the box */
    object-position: center;
    /* center the image */
}

.product-slider img:hover {
    scale: 1.02;
}


.product-slider .owl-carousel .owl-item img {
    width: 370px;
    height: 310px;
    overflow: visible;
}

.product-slider .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* height: 500px; */
}

.product-slider .owl-stage-outer .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-slider .owl-prev-custom img,
.product-slider .owl-next-custom img {
    filter: invert(1);
}

/* Custom nav arrows */
.product-slider .owl-prev-custom,
.product-slider .owl-next-custom {
    font-size: 32px;
    color: #333;
    position: absolute;
    top: calc(50% - 48px / 2);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}

.owl-prev-custom.disabled,
.owl-next-custom.disabled {
    opacity: 0.5;
    pointer-events: none;
    /* Prevent click */
    cursor: default;
}

.product-slider .owl-prev-custom {
    left: -15px;
}

.product-slider .owl-next-custom {
    right: -15px;
}

/* Tabs */

/* Features text */

.product-details {
    margin-top: 0px;
    text-align: center;
}

.product-details h5 {
    font-weight: 600;
}

.products_categories {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: start;
}

.features_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.features_container .features-box.active {
    opacity: 1;
    visibility: visible;
    /* transform: translateY(0); */
    position: relative;
    ;
}

.features_container .features-box.hidden {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(2px); */
    position: absolute;
}

.features {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.features p {
    color: var(--Gray-gray--8, #5D6266);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    line-height: normal;
    margin-bottom: 0px;
}

.features .features_midline {
    height: 30px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons .btn {
    border-radius: 4px;
    margin: 0 10px;
    width: 151px;
    padding: 16px 24px;
    border-radius: 4px;
}

.action-buttons .btn-dark {
    border: 1px solid var(--Dark, #050E14);
    background: var(--Dark, #050E14);
}

.action-buttons .btn-outline-dark {
    border: 1px solid var(--Dark, #050E14)
}

/* Batteries section css end */
/* key_benefits section css start */
.key_benefits {
    width: 100%;
    height: 100vh;
    outline: none;
    border: none;
    /* background:
        linear-gradient(to bottom, rgb(255, 255, 255, 0)37%, rgb(0, 0, 0, 0.1) 53%, rgba(0, 0, 0) 90%),
        url('../imgs/benefits.jpg') center / cover no-repeat; */
    background:
        linear-gradient(to bottom, rgb(255, 255, 255, 0)63%, rgb(0, 0, 0, 0.4) 74%, rgba(0, 0, 0, 1) 86%),
        url('../imgs/benefits.jpg') center / cover no-repeat;
    position: relative;
}

.key_benefits::after {
    bottom: -1px;
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 14px;
    background: black;
    /* clear: both; */
}

.key_benefits_content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 50px;
    /* Add some space at bottom */
}

.key_benefits_content .content {
    width: 100%;
    color: #fff;
    background: transparent;
    /* No extra background, let gradient show */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.key_benefits_content .content p {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.key_benefits_content .content h2 {
    color: var(--White);
}

.benefits_panel {
    background: #000;
    padding: 40px 0px;
}

.benefits_panel .content {
    display: flex;
    height: 550px;
    justify-content: space-around;
    align-items: center;
    padding: 70px 20px;
}

.benefits_panel .content .left_panel {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.benefits_panel .content .right_panel {
    width: 44%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.benefits_panel .content .left_panel ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 0px;
    margin-top: 10px;
}

.benefits_panel .content .right_panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
}

/* .right_panel img {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
} */

.right_panel img.fade-out {
    opacity: 0;
    /* transform: scale(0.98);   */
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.inner-accordian {
    width: 100%;

}

.inner-accordian span,
.inner-accordian p {
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

}

.assumption-text {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
    color: var(--Gray-gray--6, #C1C3C4);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.showassumption {
    height: 40px;
}

.left_panel ul li {
    list-style: none;
    color: var(--Gray-gray--8, #5D6266);
    cursor: pointer;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0;
    transition: color 0.3s;
}

/* Accordion content: start hidden; animate height + opacity */

.accordion-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 4px;
    transition: height 0.35s ease, opacity 0.35s ease;
    will-change: height, opacity;
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.accordion-content p {
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 140%; */

}

/* We now put the "active" class on the <li>, not on .accordion-content */
.left_panel ul li.accordion-active {
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Assumptions */
.inner-accordian {
    width: 100%;
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    cursor: pointer;
}

.inner-accordian span,
.inner-accordian p {
    font-size: 10px;
}

.assumption-icon {
    transition: transform 0.3s ease;
}

/* key_benefits section css end */
/* reviews section css start */

.testimonial-section {
    padding: 96px 0;
    text-align: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.testimonial-card {
    border-radius: 8px;
    border: 1px solid var(--Gray-gray--5, #DADBDC);
    background: #FFF;
    color: #000;
    padding: 20px;
    text-align: left;
    min-height: 150px;
    height: 281px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.testimonial-section h2 {
    color: var(--Dark, #050E14);

}

.testimonial-section p {
    color: var(--Gray-gray--9, #494F53);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonial-card p {
    overflow: hidden;
    color: var(--Gray-gray--8, #5D6266);
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    text-align: start;
    font-weight: 400;
    line-height: normal;
    height: 100px;
}

.testimonial-card img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;

}

.testimonial-section .owl-carousel {
    height: fit-content;
}

.testimonial-section .owl-carousel .owl-stage-outer {
    height: fit-content;
}

.testimonial-section .owl-nav button {
    position: absolute;
}


.testimonial-section .owl-carousel .owl-nav img.owl-next-custom {
    width: 34px;
    padding: 6px;
    border-radius: 100px;
    filter: invert(1);
}

.testimonial-section .owl-carousel .owl-nav img.owl-prev-custom {
    width: 34px;
    padding: 4px;
    border-radius: 100px;
    filter: invert(1);
}

.testimonial-section .owl-theme .owl-nav .disabled {
    opacity: 1;
         cursor: default;
}

.testimonial-section .owl-carousel .owl-nav .owl-next-custom.disabled {
    pointer-events: none;
    filter: invert(1);
    width: 34px;
    border-radius: 100px;
    pointer-events: none;
}

.testimonial-section .owl-carousel .owl-nav .owl-prev-custom.disabled {
    pointer-events: none;
    width: 34px;
    border-radius: 100px;
    pointer-events: none;
}

.testimonial-section .owl-theme .owl-nav [class*=owl-] {
    margin: 0px;
}

.testimonial-section .owl-carousel .owl-nav img.owl-next-custom {
    padding: 6px !important;
    background: transparent !important;
    display: flex;
    align-items: center;
    background: #FFF;
    opacity: 1;
    filter: invert(0);
}

.testimonial-section .owl-carousel .owl-nav img.owl-prev-custom {
    padding: 6px !important;
    background: black !important;
    display: flex;
    align-items: center;
    background: #FFF;
    opacity: 1;
}

.testimonial-section .owl-carousel .owl-nav button.owl-prev {
    left: -17px;
    top: calc(50% - 12px);
    z-index: 1;
    padding: 0px !important;
    border-radius: 40px;
    background: var(--Dark) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.testimonial-section .owl-carousel .owl-nav button.owl-next {
    right: -17px;
    top: calc(50% - 12px);
    z-index: 1;
    padding: 0px !important;
    border-radius: 40px;
    background: var(--Dark) !important;
    opacity: 1;
    filter: invert(0);
    border: 1px solid var(--Gray-gray--5, #DADBDC);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}


.testimonial-section .owl-carousel .owl-nav button.owl-next:not(.disabled) img,
.testimonial-section .owl-carousel .owl-nav button.owl-prev:not(.disabled) img,
.testimonial-section .owl-carousel .owl-nav img.owl-prev-custom:not(.disabled),
.testimonial-section .owl-carousel .owl-nav img.owl-next-custom:not(.disabled) {
    border-radius: 100px;
    filter: invert(0);
    border-radius: 100px;
    filter: invert(0);
    opacity: 1;
}

.testimonial-section .owl-carousel .owl-nav button.owl-next:not(.disabled):hover img,
.testimonial-section .owl-carousel .owl-nav button.owl-prev:not(.disabled):hover img,
.testimonial-section .owl-carousel .owl-nav img.owl-prev-custom:not(.disabled):hover,
.testimonial-section .owl-carousel .owl-nav img.owl-next-custom:not(.disabled):hover {
    background: var(--Dark) !important;
    border-radius: 100px;
    filter: invert(0);
}

.testimonial-section .owl-carousel .owl-nav img.owl-next-custom.disabled {
    opacity: 0.5;
     
}

.testimonial-section .owl-carousel .owl-nav button.owl-next.disabled {
    background: #FFF  !important;
}

.testimonial-section .owl-carousel .owl-nav img.owl-prev-custom.disabled {
    filter: invert(0);
    background: #FFF !important;
}

.testimonial-section .owl-carousel .owl-nav button.owl-prev {
    background: transparent !important;
}

.stars {
    color: #f4c542;
    margin: 10px 0;
}


.stars i {
    font-size: 10px;
}

.testimonial-card small {
    color: var(--Gray-gray--7, #8F9395);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonial-card h6 {
    color: var(--Dark, #050E14);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.see-review {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    border-bottom: 1px solid var(--Gray-gray--12, #192127);
    padding-bottom: 4px;
    overflow: hidden;
    color: var(--Gray-gray--12, #192127);
    font-size: 18px;
}

.google-rating h6 {
    color: var(--Dark, #050E14);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.google-rating {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    padding-bottom: 14px;
}

.google-rating .review_btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Dark, #050E14);
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.google_logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.google_logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}



/* reviews section css end */
/* blog section css start */
.blog_section {
    overflow: hidden;
    padding: 96px 0px;
}

.blog_section .container {
    width: 100%;
    max-width: 100%;
    padding: 0px;
}

.blog_section h2 {
    color: var(--Dark, #050E14);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px;
}

.blog_section p {
    color: var(--Gray-gray--9, #494F53);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog_slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 40px 0 0px;
}

/* Main card styling */
.blog_slider .blog_card {
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Gradient effect for text readability */
.blog_slider .blog_card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

/* Card text */
.blog_slider .card_text p {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog_slider .card_text {
    position: absolute;
    width: 70%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 40px;
    z-index: 2;
    bottom: 0px;
    left: calc(50% - 35%);
    right: 0px;
}

/* Navigation arrows - positioned between cards */
.blog_slider .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 0px;
    margin: 0px;
}

.blog_slider .owl-nav button {
    color: #fff !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    position: absolute;
    transform: translateY(-50%);
}

.blog_section .owl-theme .owl-nav [class*=owl-] {
    background: none !important;
    margin: 0px !important;
    padding: 1px !important;
    background: transparent !important;
    border-radius: 0px !important;
}

.blog_slider .owl-nav .owl-prev {
    left: calc(5%);
}

.blog_slider .owl-nav .owl-next {
    right: calc(5%);
}


.blog_slider .owl-dots {
    display: none;
}

.blog_slider .owl-nav button span {
    background: rgb(0, 0, 0, 0.5) !important;
    /* border-radius: 100px; */
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 5px 0px;
    justify-content: center;
    align-items: center;
}

.blog_slider .owl-nav button span img {
    /* border-radius: 100px; */
    width: 100%;
}

.blog_slider .owl-nav button span:hover {
    background: rgb(0, 0, 0, 0.5) !important;
    border-radius: 100px !important;
}


.blog_slider .owl-item {
    transition: all 0.5s ease;
    /* smooth transition */
    /* filter: blur(4px); */
    /* blur by default */
    /* transform: scale(0.99); */
    /* slightly smaller */
    opacity: 0.5;
    /* faded */
}

.blog_slider .owl-item.active.center {
    /* filter: blur(0); */
    /* clear main slide */
    /* transform: scale(1); */
    /* normal size */
    opacity: 1;
}

.blog_card {
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    overflow: hidden;
}


/* blog section css end */



/*5 kwh battery page  css start  */


.battery_herobanner {
    width: 100%;
    height: 100vh;
    min-height: fit-content;
    background-image: url('../imgs/batterybanner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}



.feature_section_mobile {
    display: none;
}

.battery_herobanner .content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 172px 20px 32px 20px;
    gap: 100px;
}

.battery_herobanner h2 {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.battery_herobanner p {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature_highlights {
    margin-top: 4rem;
    width: 100%;
}

.feature_highlights .feature_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.feature_item {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.feature_item img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.feature_item span {
    color: var(--White, #FFF);
    text-align: start;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.feature_cards .mid_line {
    width: 1px;
    height: 40px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(200, 200, 200, 0.6) 40%,
            rgba(200, 200, 200, 0.6) 60%,
            rgba(255, 255, 255, 0) 100%);
}

.battery_details {
    width: 100%;
    height: 100vh
}

.section-padding {
    padding: 6rem 0;
    width: 100%;
    min-height: fit-content;
}

.section-title {
    color: var(--Dark, #050E14);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.section-text {
    color: var(--Gray-gray--12, #192127);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-padding p.small {
    color: var(--Gray-gray--8, #5D6266);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-container {
    text-align: center;
    position: relative;
}

.btn_warranty {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid var(--Dark, #050E14);
}

.btn_warranty a {
    color: var(--Dark, #050E14);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-image {
    max-width: 100%;
    height: auto;
}



.battery_slider_section {
    width: 100%;
    height: 100vh;
    min-height: fit-content;
    background: grey;
}

.beautiful_section {
    background: var(--Gray-gray--3, #F5F5F6);
}

.beautiful_section h2 {
    text-align: start;
}

.warrenty_section h2 {
    text-align: start;
}

/* Document Cards start */
.document_section {
    background: var(--Gray-gray--3, #F5F5F6);
    height: fit-content;
}

.document-card {
    border-radius: 8px;
    border: 1px solid #D9D9D980;
    background: #FFF;
    padding: 24px;
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.document-card .document_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

}

.document-card .document_info p {
    color: var(--Gray-gray--12, #192127);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%;
    /* 22.32px */
    text-align: start;
    text-transform: capitalize;
}

.document-card:hover {

    transform: scale(1.01);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.document-card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.document-card .document_info p {
    padding: 0px !important;
}


/* Document Cards end*/
/*5kwh stakable battery css start  */
.stackable_battery_herobanner {
    width: 100%;
    height: 100vh;
    min-height: fit-content;
    background-image: url(../imgs/batterystackbanner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

/* Dark blur on TOP */
.stackable_battery_herobanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    pointer-events: none;
}

.stackable_battery_herobanner h2,
.stackable_battery_herobanner p {
    color: var(--White, #FFF);
}

/* Dark blur on BOTTOM */
.stackable_battery_herobanner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

.stackable_battery_herobanner .content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 172px 20px 32px 20px;
    gap: 100px;
}


/*5kwh stakable battery css end  */
/*onephase inverter css start  */
.onephase_herobanner {
    width: 100%;
    height: 100vh;
    min-height: fit-content;
    background-image: url('../imgs/1phaseinverter/onephasebanner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

/* Dark blur on TOP */
.onephase_herobanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

/* Dark blur on BOTTOM */
.onephase_herobanner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

.onephase_herobanner .content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 150px 20px 50px 20px;
    gap: 100px;
}

.onephase_herobanner .content .upper_content h2 {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.onephase_herobanner .content .upper_content p {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.section-padding.power_section {
    background: var(--Gray-gray--3, #F5F5F6);
    padding-left: 0px;
    padding-right: 0px;
}

.smart_wifi_section .details_box {
    padding: 0px 100px 0px 0px;
}

.onephase_herobanner .section-image {
    width: 100%;
    height: 600px;
}

.onephase_warrenty_section {
    padding: 100px 40px;
    height: fit-content;
}



/*onephase inverter css end  */
/*threephase inverter css start  */
.threephase_herobanner {
    width: 100%;
    height: 100vh;
    min-height: fit-content;
    background-image: url('../imgs/3phaseinverter/herobanner.jpg');
    background-size: 133%;
    background-position: -21px -308px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

/* Dark blur on TOP */
.threephase_herobanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

/* Dark blur on BOTTOM */
.threephase_herobanner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}

.threephase_herobanner .content p {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 4px -1px 16px rgba(0, 0, 0, 0.25);
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.threephase_herobanner .content h2 {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 4px -1px 42px rgba(0, 0, 0, 0.25);
    font-family: "Rethink Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.threephase_herobanner .content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 150px 20px 50px 20px;
    gap: 100px;
}

/*threephase inverter css end  */

/* contact_us start */

.contact-section {
    display: flex;
    width: 100%;
    min-width: fit-content;
    justify-content: center;
    align-items: stretch;
    background-color: #fff;
    margin: 100px 0px 50px;
    flex-wrap: wrap;
}

.contact-left {
    background: url('../imgs/contactimage.jpg') no-repeat center center/cover;
    width: 50%;
    min-width: 700px;
    height: auto;
    /* min-width: fit-content; */
}

.contact-left .data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px 0px;
    position: relative;

}

.contact-left .data::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 9px;
    right: 0px;
    width: 60%;
    height: 19%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    pointer-events: none;
    z-index: -1;
}

.contact-right {
    width: 45%;
    padding: 36px;
    height: fit-content;
}

.contact-info-box {
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(8px);
}

.contact-info-box .contact_data {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


.contact_data p {
    color: var(--Gray-gray--3, #F5F5F6);
    font-size: 18px;
    margin: 0px;
}


.contact_data h3 {
    color: var(--White, #FFF);
    font-size: 24px;
    margin: 0px;
    font-weight: 500;
}

/* .contact_data .top div,
.contact_data .bottom div {
    width: 250px;

} */

.contact_data .top {
    width: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.contact_data .bottom {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}


.contact-right h2 {
    color: var(--Dark, #050E14);
    margin-bottom: 10px;
    text-align: start;
    font-size: 36px;
}

.contact-section .form-text.normal_text {
    margin-bottom: 10px;
    color: #161925;
    font-size: 14px;
}

.contact-section .form-text a {
    color: #161925;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}


.contact-section .contact_form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    padding: 10px 0px;
    height: 600px;
}

.contact-section .contact_form .form-control {
    border: none;
    border-radius: 0px;
    outline: none;
    color: #161925;
    border-bottom: 1px solid var(--Gray-gray--6, #C1C3C4);
}

.contact-section #installerSelect option,
.contact-section .contact_form .form-select {
    padding: 10px;
    margin-bottom: 6px;
}

.contact-section .contact_form .form-control:focus {
    box-shadow: none;
}

.contact-section .contact_form .form-control::placeholder {
    color: var(--Gray-gray--7, #8F9395);
}

.contact-section .custom-dropdown {
    position: relative;
    width: 100%;
}

.contact-section .dropdown-selected {
    border: none;
    border-bottom: 1px solid #C1C3C4;
    padding: 10px;
    cursor: pointer;
    color: #161925;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.dropdown-selected img {
    filter: invert(1);
}

.contact-section .dropdown-selected:after {
    content: url(../icons/chevron-down.svg);
    font-size: 14px;
    filter: invert(1);
    color: #888;
    margin-left: 10px;
}

.contact-section .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #C1C3C4;
    border-top: none;
    max-height: 0;
    overflow: hidden;
    scrollbar-width: none;
    transition: max-height 0.3s ease-in-out;
    z-index: 8;
}

.contact-section .dropdown-list.open {
    max-height: fit-content;
    min-height: fit-content;
    /* Adjust for smoothness */
    overflow-y: auto;
}

.contact-section .dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.contact-section .dropdown-item:hover {
    background: #f1f1f1;
}


.contact-section .send-btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background: var(--Dark, #050E14);
    width: fit-content;
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-section .send-btn:hover {
    background-color: #b17575;
    color: var(--White);
    border: 1px solid var(--White);
}

.contact-section .send-btn:hover img {
    filter: invert(1);
}

/* contact_us end */
/* slider css start */
.slider-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    min-height: 600px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/Outdoor\ 1.jpg') center/cover no-repeat;
    z-index: 1;
}

.foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/Indoor\ 4.jpg') center/cover no-repeat;
    z-index: 2;
    transition: left 0.3s ease;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.batterystakable_slider .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/Outdoor\ 2.jpg') center/cover no-repeat;
    z-index: 1;
}

.batterystakable_slider .foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/Indoor 2.jpg') center/cover no-repeat;
    z-index: 2;
    transition: left 0.3s ease;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

/* onephase slider img  */
.onephase_slider_section .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/slider_product/onephaseoutdoor.jpg') center/cover no-repeat;
    z-index: 1;
}

.onephase_slider_section .foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/slider_product/onephaseindoor.jpg') center/cover no-repeat;
    z-index: 2;
    transition: left 0.3s ease;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

/* onephase slider end  */
/* three phase slider img start*/
.threephase_slider_section .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/slider_product/threephaseoutdoor.jpg') center/cover no-repeat;
    z-index: 1;
}

.threephase_slider_section .foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/slider_product/threephaseindoor.jpg') center/cover no-repeat;
    z-index: 2;
    transition: left 0.3s ease;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

/* three phase slider end  */
.content-overlay {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 6;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.content-overlay h2 {
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.content-overlay p {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Rethink Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slider-handle {
    position: absolute;
    top: 50%;
    left: 125px;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    cursor: pointer;
}

.slider-line {
    position: absolute;
    top: 0;
    left: 125px;
    width: 2px;
    height: 100%;
    z-index: 5;
    transform: translateX(-50%);
    transition: none;
}

.instructions {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    z-index: 10;
}

@media (max-width: 768px) {
    .content-overlay {
        padding: 5px;
        top: 20px;
        left: 0px;
        text-align: center;
        z-index: 6;
        transform: translate(0);
        color: white;
        padding: 8px;
        border-radius: 10px;
        width: 100%;
    }


    .content-overlay h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .content-overlay p {
        font-size: 14px;
        font-weight: 400;
    }

    .slider-handle {
        width: 50px;
        height: 50px;
    }
}

/* slider css end */



.terms {
    margin-top: 100px;
}

/* footer css start */
.footer {
    background-color: #0a1116;
    color: #ccc;
    padding: 72px;
    border-radius: 8px;
    margin: 32px;
    font-family: "Rethink Sans", sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Top Section Layout */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

/* Logo & Social */
.footer-logo img {
    max-width: 140px;
}

.footer-logo-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    height: 100%;
    gap: 25px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

/* Links Section */


.footer-links-section {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-links h6,
.footer-links h6 a {
    color: var(--White, #FFF);
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.footer-links a {
    display: block;
    color: var(--Gray-gray--7, #8F9395);
    font-family: "Rethink Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--Gray-gray--6);
}

/* Divider */
.footer hr {
    border: none;
    border-top: 1px solid #2a2f33;

}

/* Bottom Section */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 16px;
}

.footer-bottom p {
    color: var(--Gray-gray--7, #8F9395);
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.5%;
    letter-spacing: 0.36px;
}

.footer-policy {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-policy a {
    color: var(--Gray-gray--7, #8F9395);
    font-family: "Rethink Sans";
    font-size: 18px;
    font-style: normal;
    text-align: start;
    font-weight: 400;
    line-height: 163.5%;
    letter-spacing: 0.36px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-policy a:hover {
    color: var(--Gray-gray--6);
}

/* footer css end */